			<div class="container">
			
				<!-- COPYRIGHT -->
				<p class="copyright">&copy; 2014 <a href="#">Vidor Gencel, Stefan Ilijevski</a>. Odsek za softversko inženjerstvo Elektrotehničkog fakulteta Univerziteta u Beogradu.</p>
				<!-- / COPYRIGHT -->
				
				<!-- FOOTER SOCIAL -->
				<ul class="social">
					<li><a href="#" class="facebook" title="Facebook">Facebook</a></li>
					<li><a href="#" class="twitter" title="Twitter">Twitter</a></li>
					<li><a href="#" class="rss" title="RSS">RSS</a></li>
				</ul>
				<!-- / FOOTER SOCIAL -->
				
			</div>