<div class="content">


	<div id="logo"></div>

	<nav>
	  <ul>
	    <li>
	      <a href="#">O nama</a>
	      <ul class="fallback">
	        <li><a href="#">Istorija</a></li>
	        <li><a href="#">Lokacija</a></li>
	        <li><a href="#">Nagrade i priznanja</a></li>
	        <li><a href="#">Uprava</a></li>
	        <li><a href="#">Spisak glumaca</a></li>

	      </ul>
	    </li>
	    <li>
	      <a href="#">Link 3</a>
	      <ul class="fallback">
	        <li><a href="#">Sub-Link 1</a></li>
	        <li><a href="#">Sub-Link 2</a></li>
	        <li><a href="#">Sub-Link 3</a></li>
	        <li><a href="#">Sub-Link 4</a></li>
	      </ul>
	    </li>
	    <li><a href="#">Link 4</a></li>
	    <li><a href="#">Link 5</a></li>
	    <li><a href="#">Link 6</a></li>
	  </ul>
	</nav>

</div>